
@font-face {
    font-family: Forum;
    src: url("assets/fonts/Forum/Forum-Regular.ttf")
}

@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto/Roboto-Thin.ttf");
}

:root {
    --dark-bg-color:#030303;
    --main-text-color-for-dark: #FFFFFF;
    --main-text-color-for-light: #000000;
}

html {
    scroll-behavior: smooth; 
  }

body {
    margin: 0px auto;
    width: 1920px;
    height: 6245px;
    background: #FFFFFF;

}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: var(--main-text-color-for-dark);
    background-color: var( --dark-bg-color);
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    width: calc(100% - 40px);
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
}

.logo {
    padding-left: 70px;
    width: 195px;
    height: 50px;
    color: var(--main-text-color-for-dark);
    font-family: Forum;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
    background-image: url("assets/svg/Vector.svg");
    background-repeat: no-repeat;
    background-position: left center;
}

.navigation {
    width: 720px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation > li {
    list-style: none;
    font-family: Roboto;
    font-weight: 200;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 2px;
}

.navigation a {
    color: var(--main-text-color-for-dark);
}

.navigation a:hover {
    color: #9D8665;
}

.navigation a:focus{
    color: #9D8665;
}

.section {
    padding: 75px 0px;
} 

.dark-section {
    background-color: var(--dark-bg-color);
}

.welcome-section {
    height: 750px;
    background-image: url("assets/img/background.jpg");
    background-repeat: no-repeat;
    background-position: calc(100% - 1px) calc(100% - 1px);
}

.section-title {
    font-family: Forum;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
}

.section-title-dark {
    color: var(--main-text-color-for-dark);
}
.welcome-box{
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.welcome-box > h1 {
    margin-bottom: 26px;
}

.welcome-box > h1:hover {
    color:  #9D8665;
}

.welcome-box > p{
    margin-top: 26px;
    margin-bottom: 76px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    color: var(--main-text-color-for-dark);
}

.btn-discover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 75px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    color: var(--main-text-color-for-dark);
    background: #710707;
    border: none;
    border-radius: 10px;
}

.btn-discover:hover {
    background-color: #9D8665;
}

.underline-title {
    position: relative;
}

.underline-title::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #710707;
}

.visiting-section {
    height: 1115px;
}

.slides-pictures {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 78px;
    column-gap: 60px;
    max-width: 1440px;  
}    

.slides-pictures > a {
    display: block;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 440px;
    height: 422px;
}

.slide > img {
    width: 440px;
    height: 285px;
}

.slide > h3 {
    display: inline-block;
    font-family: Forum ;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var( --main-text-color-for-light);
}

.slide-underline-title {
    position: relative;
}

.slide-underline-title::after{
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;
    right: 0;
    width: 300px;
    height: 2px;
    background-color: #710707;
}

.slide-text1 {
    margin-top: -10px ;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    color: var(--main-text-color-for-light);
}

.slide-text2 {
    margin-top: -10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    color: var(--main-text-color-for-light);
}

.explore-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 865px;
}

.explore-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 715px;
}

.title-and-description {
    margin-right: 60px ;
    width: 660px;
    height: 715px;
}
.title-and-description > h2{
    margin-top: 0px;
}
.title-and-description > p {
    margin-top: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: var(--main-text-color-for-dark);
}

.title-and-description span {
    color: #9D8665;
}

.explore-box > img {
    margin-top: 15px;
    width: 720px;
    height: 700px;
}

.video-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.video-poster {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 629px;
    background-image: url("assets/img/Rectangle(4).jpg");
    background-repeat: no-repeat;
}

.big-btn-play {
    width: 220px;
    height: 220px;
    background-color: transparent;
    border: none;
}

.video-player {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1440px;
    height: 85px;
    background-color: var(--dark-bg-color);
}

.btn-back {
    width: 27px;
    height: 30px;
    background-color: transparent;
    border: none;
}

.btn-play {
    width: 23px;
    height: 30px;
    background-color: transparent;
    border: none;
}

.btn-forward {
    width: 27px;
    height: 30px;
    background-color: transparent;
    border: none;
}

.progress {
    background: linear-gradient(to right, #24809E 0%, #24809E 40%, #C4C4C4 40%, #C4C4C4 100%);
    border: none;
    border-radius: 0px;
    height: 8px;
    width: 820px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
  }

  .progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #FFFFFF;
}

.btn-volume {
    width: 38px;
    height: 30px;
    background-color: transparent;
    border: none;
}

.progress-volume {
    background: linear-gradient(to right, #24809E 0%, #24809E 40%, #C4C4C4 40%, #C4C4C4 100%);
    border: none;
    border-radius: 0px;
    height: 8px;
    width: 155px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.progress-volume::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #FFFFFF;
}

.btn-fullscreen {
    width: 36px; ;
    height: 36px;
    background-color: transparent;
    border: none;
}

.video-title-box {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 90px;
}
.video-title-box > p {
    width: 720px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: var(--main-text-color-for-light);
}

.tyckets-box {
    height: 743px;
}

.btns-tyckets {
    margin-top: 75px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1440px;
    height: 720px;
}

.btns-tyckets > img {
    margin-right: 20px;
    width: 720px;
    height: 550px;
}

.btns-and-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.radio-group {
    margin-left: 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 270px;
    height: 262px;
}

.radio-group-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    list-style: none;
    color: var(--main-text-color-for-dark);
}

.radio-group label {
    margin-top: 50px;
}

.radio {
    position: relative;
    padding-left: 40px;
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 25.5px;
    color: #FFFFFF;
}

.radio input[type="radio"]{
    display: none;
}

.radio span {
    display: block;
    position: absolute;
    left: 0px;
    top: 4px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
}

.radio span:after {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
    border-radius: 50%;
    content: "";
    width: 7px;
    height: 7px;
    background-color: #FFFFFF;
}

.radio input[type="radio"]:checked ~ span::after {
    transform: translate(-50%,-50%) scale(1);
}

.number-group {
    margin-left: 240px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 150px;
}

.number-group h4 {
    margin: 0px;
    align-self: flex-end;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: var(--main-text-color-for-dark);
}

.number-group p {
    margin-left: 0px;
    margin-top: 11px;
    margin-bottom: 14px;
    display: flex;
    justify-content: flex-start;
    width: 150px;
    height: 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}

.number {
    all: unset;
    width: 3em;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}

.number-btns {
    margin-bottom: 20px;
    align-self: flex-end;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 50px;
    border: 3px solid #FFFFFF;
}

.number-btns button{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    border: none;
    background: transparent;
    color: #FFFFFF;
}

.total {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 33px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 1.65px;
    color: var(--main-text-color-for-dark);
}

.btn-buy {
    margin-top: 50px;
    margin-bottom: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    color: var(--main-text-color-for-light);
}

.btn-buy:hover {
    background-color: #9D8665;
}

.address-box {
width: 282px;
height: 221px;
}
.contacts-box {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 620px;

}

.address-box h4 {
    margin-bottom: 36px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: var(--main-text-color-for-light);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.footer-box {
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    width: 1440px;
    height: 150px;
    color: var(--main-text-color-for-dark);
}

.bottom-nav {
    margin-top: 0px;
    margin-right: 145px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    column-gap: 153px;
    height: 150px;
}

.bottom-nav > li{
    list-style: none;
    font-family: Roboto;
    font-weight: 200;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 2px;
}

.bottom-nav a {
    color: var(--main-text-color-for-dark);
}

.bottom-nav a:hover {
    color: #9D8665;
}

.bottom-nav a:focus{
    color: #9D8665;
}

.icon-social {
    margin-left: 398px;
    margin-top: 88px;
    margin-bottom: 14px;
    display: flex;
    justify-content: space-between;
    width: 336px;
    height: 48px;
    list-style: none;

}